@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body,td,th,p,a {
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
	font-size: 12px;
}

body {
	margin: 0px auto 0px auto;
	text-align: center;
	background: #cccccc;
}

p {
	margin-bottom: 5px;
}

h1 {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.s1 {
	background-color: #bdc9ff;
}

.odd {
	background-color: #F0F0F0;
}

.even {
	background-color: #FFFFFF;
}

div#container {
	position: relative;
	background-color: #FFFFFF;
	text-align: left;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	background: transparent url(images/header_bg.png) left top;
	height: 155px;
	margin: 0 0 0 0;
}

#logo_login {
	position: absolute;
	top: 8px;
	left: 127px;
	width: 148px;
	height: 113px;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

#logo {
	position: absolute;
	top: 8px;
	left: 20px;
	width: 148px;
	height: 113px;
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	background-position: center;
}

.Main_container {
	width: 765px;
	float: left;
	margin: 19px 0 0px 22px;
}

.top_bg {
	background: none no-repeat top left;
	float: left;
	height: 5px;
	width: 600px;
}

.middle_bg {
	background: none;
	height: auto;
	float: left;
	width: 600px;
	min-height: 384px;
}

.bottom_bg {
	background: none no-repeat bottom left;
	float: left;
	height: 5px;
	width: 600px;
}

#home_bottom_bg {
	background: url(images/home_bottom_bg.gif) no-repeat bottom left;
	float: left;
	height: 5px;
	width: 1000px;
}

#logoSeperator {
	position: absolute;
	left: 235px;
	top: 15px;
	height: 120px;
	width: 1px;
	margin-top: -9px;
}

#logoName {
	position: absolute;
	left: 277px;
	top: 30px;
	height: 25px;
	width: 1px;
}

#applicationName_login { /*	color: #FFFFFF; */
	font-family: Calibri;
	font-size: 3em;
	font-weight: 500;
	height: 60px;
	left: 270px;
	position: absolute;
	text-align: center;
	top: 40px;
	width: 460px;
}

#applicationName {
	color: #000000;
	font-weight: bold;
	text-align: right;
	position: absolute;
	left: 520px;
	top: 128px;
	height: 60px;
	width: 460px;
	z-index: 23;
}

.centered {
	text-align: center;
}

div#floatingBreaker {
	clear: both;
}

div#footer_login {
	background-image: url("images/bg_bottom_shadow.png");
	background-position: left center;
	background-repeat: repeat-x;
	color: #000000;
	height: 196px;
	width: 100%;
}

div#footer {
	clear: both;
	color: #7c6a54;
	height: 18px;
	width: 100%;
	font-size: 11px;
	margin-right: 10px;
	margin-top: 2px;
	padding-bottom: 10px;
	padding-top: 2px;
	text-align: right;
}

div#footer span {
	font-size: 11px;
}

.pageContent {
	margin: 0;
	padding: 0;
}

#content_login {
	width: 100%;
	min-height: 300px;
	background: #7d6a55;
}

#content {
	width: 100%;
	min-height: 409px;
	background: #fff;
}

#leftContent {
	float: left;
	width: 208px;
	height: 100%;
	margin-top: 17px;
}

#leftContent.content {
	background: url("images/bg_center_menu.png") repeat-y scroll 0 0
		transparent;
	margin-left: 4px;
	padding-left: 0;
	padding-top: 0;
}

#leftContent.content:before {
	content: url("images/bg_top_menu.png");
	padding-left: 0;
	padding-top: 0;
}

#leftContent.content:after {
	content: url("images/bg_bottom_menu.png");
	padding-left: 0;
	padding-top: 0;
}

#leftContent form {
	padding-left: 15px;
}

#centerContent {
	float: right;
	margin: 0 4px 0 0;
	width: 765px;
	height: 100%;
}

#content {
	margin: 0px 0px 0 0;
}
/* Content container for main content*/
#centerContent.content {
	border: 1px solid #7c6a54;
	/*	padding-left: 15px; */
	padding-right: 10px;
	padding-top: 10px;
}

#centerContent.content.center {
	
}

#centerContent div.title {
	color: #000000;
	font-size: 20px;
	height: 36px;
	line-height: 33px;
	text-align: center;
}

div.column {
	padding: 0px;
	margin: 0 0 5px 3px;
	clear: both;
	width: 735px;
}

div.message {
	padding: 10px 0 0 40px;
	margin: 0px;
	clear: both;
	width: 740px;
	margin-bottom: 5px;
	text-align: left;
}

div.column.twoColumn {
	clear: none;
	width: 366px;
	/*        height: 210px; */
	float: left;
	padding-left: 0px;
	padding-top: 5px;
	margin-bottom: 5px;
	float: left;
}

div.spacer {
	clear: both;
	height: 20px;
}

.login_div {
	float: left;
	color: #000;
	margin: 29px 0 0 28px;
	padding: 0px;
	width: 336px;
	height: 210px;
	text-align: center;
	background: url(images/login.png) no-repeat;
}

#centerContent .login_div label {
	margin-left: 19px;
}

#centerContent .login_div .submit {
	left: 214px;
	width: 100px;
	cursor: pointer;
	background: #8C8C8C;
	z-index: 12;
}
/*** Gray H1 Bars ***/
#centerContent div.column h1 {
	clear: both;
	display: block;
	background-image: url(images/h1_bar.gif);
	background-repeat: no-repeat;
	font-weight: bold;
	font-size: 12px;
	width: 745px;
	height: 20px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding-left: 8px;
	padding-top: 5px;
}

/* Form seperator */
#centerContent div.column.twoColumn h1 {
	background-image: url(images/h1_bar_short.gif);
	width: 360px;
	margin-left: 5px;
}

#centerContent div.column.twoColumn .login_div h1 {
	background: url(images/h1_login.gif) no-repeat;
}

fieldset.Innerwidthwrap {
	width: 728px;
	margin: 10px;
	float: left;
}

#centerContent .column li {
	list-style-position: inside;
}

#centerContent .bank_reg_but {
	height: 80px;
}

/************* Agent Info Bar (on Top Right) ***************/
#agentInfo {
	position: absolute;
	right: 5px;
	top: 55px;
	text-align: right;
	font-weight: bold;
	color: #8c8e8e;
}

#agentInfo a {
	color: #000000;
	text-decoration: none;
}

#agentInfo a#logout {
	
}

#agentInfo a:hover {
	text-decoration: underline;
}

#switchLanguageButton {
	position: relative;
	top: 2px;
}

#languageFlag {
	position: relative;
	top: 2px;
}

#header-language-selector {
	position: absolute;
	left: 850px;
	top: 105px;
	z-index: 4;
}

#language-select {
	background-color: white;
	width: 120px;
	border: 1px solid #8c8e8e;
	padding: 5px;
}

#language-select li {
	list-style-type: none;
}

/************* END Agent Info Bar (on Top Right) ***************/

/******************* Top  Navigation ******************/
#navigation {
	position: absolute;
	margin-top: 97px;
	display: block;
	width: 100%;
}

#navigation span.submenu {
	font-weight: normal;
}

#navigation span.submenu {
	font-weight: normal;
	color: #FFFFFF;
}

#navigation span.submenu a {
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

#navigation span.submenu a:hover {
	text-decoration: underline;
}

#nav {
	display: block;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	height: 22px;
}

#nav ul li {
	list-style-type: none;
	float: left;
	z-index: 201;
	font-weight: bold;
	padding: 3px 20px 3px 20px;
}

#nav ul li.selected {
	background-color: #000000;
}

#nav_content_color_bar {
	background: url("images/bg_top_bar.png") no-repeat scroll 0 0
		transparent;
	display: inline;
	float: left;
	height: 36px;
	top: 0;
	width: 100%;
	z-index: 202;
}

.blueid {
	background-color: #0E2199;
	width: 333px;
	float: left;
	height: 8px;
}

.redid {
	background-color: #FE2303;
	width: 333px;
	float: left;
	height: 8px;
}

.greenid {
	background-color: #299758;
	width: 332px;
	float: left;
	height: 8px;
}

.whiteid {
	background-color: #fff;
	width: 1px;
	float: left;
	height: 8px;
}

ul.dropdown,ul.dropdown li,ul.dropdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.dropdown {
	position: relative;
	z-index: 597;
	float: left;
}

ul.dropdown li {
	float: left;
	line-height: 1.3em;
	vertical-align: middle;
}

ul.dropdown li.hover,ul.dropdown li:hover {
	position: relative;
	z-index: 599;
	cursor: default;
}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 22px;
	left: 0;
	z-index: 598;
	width: 100%;
}

ul.dropdown ul li {
	float: none;
}

ul.dropdown ul ul {
	top: 1px;
	left: 99%;
}

ul.dropdown li:hover>ul {
	visibility: visible;
}

/********** Navigation Design *****************/
ul.dropdown {
	font-weight: bold;
}

ul.dropdown li {
	padding: 7px 10px 0px 10px;
}

ul.dropdown li li {
	padding: 7px 10px;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	border-color: #fff #d9d9d9 #d9d9d9;
	background-color: #f6f6f6;
	color: #000000;
	width: 150px;
}

ul.dropdown li.selected a {
	color: #ffffff;
}

ul.dropdown li.selected li a {
	color: #000000;
}

/* Hover over Top Level Menu*/
ul.dropdown li.hover,ul.dropdown li:hover {
	
}

/* Hover over Second, Third, ... Level Menu*/
ul.dropdown li li.hover,ul.dropdown li li:hover {
	background-color: #eee;
	color: #000;
}

ul.dropdown a {
	text-decoration: none;
}

/* -- level mark -- */
ul.dropdown ul {
	margin-top: 1px;
	width: 150px;
	top: 20px;
}

ul.dropdown ul li {
	font-weight: normal;
}

/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */
ul.dropdown *.dir {
	padding-right: 20px;
	padding-left: 20px;
	background-image: url(images/nav-arrow-down-black.gif);
	background-position: 8px 50%;
	background-repeat: no-repeat;
}

ul.dropdown *.dir.selected {
	background-image: url(images/nav-arrow-down-white.gif);
	background-position: 8px 50%;
	background-repeat: no-repeat;
}

/* -- Components override -- */
ul.dropdown-horizontal ul *.dir {
	padding-right: 15px;
	background-image: url(images/nav-arrow-right-black.gif);
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
	background-image: url(images/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,ul.dropdown-upward ul *.dir {
	background-image: url(images/nav-arrow-right-black.gif);
}

ul.dropdown-vertical-rtl *.dir {
	padding-right: 10px;
	padding-left: 15px;
	background-image: url(images/nav-arrow-left.png);
	background-position: 0 50%;
}

/**************** Navigation END ***********************/

/******************** Sub Menu ****************/
ul.submenu {
	text-align: left;
	white-space: nowrap;
}

ul.submenu li {
	list-style-image: none;
	list-style-type: none;
	white-space: nowrap;
	margin: 0px;
	width: 208px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
}

ul.submenu li.selected a {
	color: #fff;
	border-bottom: 1px solid transparent;
}

ul.submenu li.selected {
	background: url("images/bg_selected_menu.png") no-repeat scroll 0 0
		transparent;
	height: 28px;
	width: 208px;
}

ul.submenu li:hover {
	background: url("images/bg_selected_menu.png") no-repeat scroll 0 0
		transparent;
	height: 28px;
	width: 208px;
}

ul.submenu li a {
	border-bottom: 1px solid #fff;
	color: #fff;
	display: block;
	width: 198px;
	font-weight: bold;
	font-size: 11px;
	text-decoration: none;
	height: 28px;
	margin-left: 5px;
	text-indent: 10px;
}

ul.submenu li a:hover {
	text-decoration: none;
	color: #fff;
}

/******************** END Sub Menu *****************/

/*********** General Forms **********/

/* Required star */
span.required {
	font-family: "courier new";
	color: red;
	font-weight: bold;
	margin-left: 2px;
}

/* Submit Button*/
.submit {
	background: #8C8C8C;
	width: 100px;
	color: #fff;
	margin: 0;
	padding: 1px 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	border: 0px;
}

.submit1 {
	background: transparent url(images/button_small.gif) no-repeat center
		top;
	width: 80px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	border: 0px;
}

.submit.wait {
	background: transparent url(images/button_wait.gif) no-repeat center top;
	width: 80px;
	height: 18px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	border: 0px;
}

.submit.medium {
	background: transparent url(images/button_medium.gif) no-repeat center
		top;
	width: 119px;
	height: 18px;
}

.submit.large {
	background: transparent url(images/button_large.gif) no-repeat center
		top;
	width: 160px;
	height: 18px;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 12px;
	font-weight: bold;
	color: black;
	border: 0px;
}

/** Error **/
div.input .errorText {
	clear: both;
	color: #b60000;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 5px;
	margin-left: 10px;
	margin-bottom: 4px;
	background: transparent url(images/cross-red.gif) no-repeat left center;
}

div.globalError {
	color: #b60000;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 5px;
	margin-left: 10px;
	background: transparent url(images/cross-red.gif) no-repeat left center;
}

input.error {
	
}

div.input.error {
	background: transparent url(images/background-error.gif) repeat;
	border: 1px solid #f9e8e4;
	padding-bottom: 2px;
}

/*********** END General Forms **********/

/******************************* Center Content FORM Elements ************************/
#centerContent div.input {
	position: relative;
	float: left;
	top: 20px;
	padding: 0px;
	margin: 0px;
	text-align: left;
	margin: 0 0 2px 29px;
	width: 300px;
	display: inline;
}

#centerContent label {
	clear: both;
	float: left;
	text-align: left;
	display: block;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 4px;
	width: 90px;
	padding: 1px 2px 1px 2px;
	color: #333;
	font-family: verdana;
	font-size: 11px;
}

.input_value {
	width: 140px;
	padding: 1px 2px 0px 2px;
	color: #333;
	font-family: verdana;
	font-size: 11px;
	margin-left: 5px;
	margin-top: 4px;
	float: left;
}

.Account_info {
	padding: 0px;
	margin: 0px;
	text-align: left;
	margin-bottom: 4px;
	width: 360px;
	display: block;
}

#centerContent .Regist_sup_main {
	width: 600px;
	margin: 20px;
}

.bank_ag_box1 {
	border: 1px solid red;
	padding: 20px;
	height: 100px;
}

#centerContent .bank_reg_but input.submit.left {
	width: 80px;
	left: 174px;
	padding: 2px 0 15px 0;
	height: 20px;
}

#centerContent legend.reg_tab {
	background: url("images/bg_legend_center.png") repeat scroll 0 0
		transparent;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

#centerContent legend.reg_tab1 {
	background: url(images/h1_reg_bar_220x25.gif) no-repeat;
	width: 220px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent legend.reg_tab2 {
	background: url(images/h1_reg_bar_83x25.gif) no-repeat;
	width: 83px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent legend.reg_tab3 {
	background: url("images/bg_legend_center.png") repeat scroll 0 0
		transparent;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
}

#centerContent legend.reg_tab3:after {
	content: url("images/bg_legend_right.png");
	float: right;
	margin-right: -10px;
	position: relative;
}

#centerContent legend.reg_tab3:before {
	content: url("images/bg_legend_left.png");
	float: left;
	margin-left: -10px;
	position: relative;
}

#centerContent legend.reg_tab4 {
	background: url(images/h1_reg_bar_250x25.gif) no-repeat;
	width: 250px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent legend.reg_tab5 {
	background: url(images/h1_reg_bar_260x25.gif) no-repeat;
	width: 260px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent legend.reg_tab6 {
	background: url(images/h1_reg_bar_280x25.gif) no-repeat;
	width: 280px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent legend.reg_tab7 {
	background: url(images/h1_reg_bar_178x25.gif) no-repeat;
	width: 178px;
	height: 25px;
	padding: 4px 0 0 0px;
	text-indent: 10px;
}

#centerContent .reg_tab_01 {
	margin: 10px 3px;
}

#centerContent  .input .fileattachement input {
	padding: 0;
	margin: 0 0 0 2px;
	text-align: left;
	float: left;
	width: 408px;
	clear: none;
	display: inline;
	height: 19px;
}

#centerContent .DateWrapper {
	width: 750px;
	position: relative;
}

#centerContent .DateWrapper .fromDate {
	width: 370px;
	float: left;
	display: inline;
	clear: left;
}

#centerContent .DateWrapper .toDate {
	width: 370px;
	float: left;
	display: inline;
}

.datedisclaimer {
	width: 100%;
	float: left;
}

#centerContent .DateWrapper label {
	width: 120px;
	float: left;
	clear: none;
	line-height: 25px;
	text-align: left;
	border-bottom: none;
}

#centerContent .DateWrapper div.input {
	padding: 0px;
	margin: 0px;
	text-align: left;
	float: left;
	margin-bottom: 4px;
	width: 150px;
	clear: none;
	display: inline;
}

#centerContent .DateWrapper input {
	width: 125px;
	display: inline;
	float: left;
	line-height: 25px;
}

#centerContent .DateWrapper .dateimg {
	float: left;
	width: 30px;
	margin-left: 40px;
}

#centerContent .bankregDiv .input .date_Div {
	width: 290px;
	float: left;
}

#centerContent .bankregDiv .input .date_Img {
	width: 15px;
	height: 8px;
	cursor: pointer;
	float: left;
	display: inline;
}

#centerContent .bankregDiv .input .date_Div label {
	float: left;
	width: 90px;
}

#centerContent .bankregDiv .input .date_Div input {
	float: left;
	width: 174px;
}

fieldset {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	/*	min-height:100px; */
	margin-left: 30px;
	/*	float: right; */
	border-left: 0 none #7c6a54;
	border-right: 0 none #7c6a54;
	border-top: 1px solid #7c6a54;
}

fieldset legend {
	font-weight: bold;
	font-size: 15px;
	color: #686868;
}

legend:before {
	content: url("images/bg_legend_left.png");
	float: left;
	margin-left: -10px;
	position: relative;
}

legend:after {
	content: url("images/bg_legend_right.png");
	float: right;
	margin-right: -10px;
	position: relatvie;
}

.column .submit {
	color: #fff;
}

.manage_profile_link {
	margin: 0 0 0 40px;
}

.manage_profile_link h1 {
	color: #ff0000;
}
/*-----------------------------Rebuild css-----------*/
#centerContent .contentWrapper {
	width: 758px;
	margin: 2px 0;
}

#centerContent .contentWrapper .blockDet {
	width: 740px;
	height: 100%;
	margin: 2px 5px;
}

ul.submenu h1 {
	font-size: 13px;
	color: #fff;
	padding: 0 5px;
}

#centerContent .twoColumn .reg_tab_01.bankregDiv div.input {
	width: auto;
	float: left;
}

#centerContent h1 {
	font-size: 1.2em;
	font-weight: bold;
}

#centerContent form {
	text-align: left;
}

#centerContent div.input select {
	margin: 3px 3px 3px 3px;
	width: 180px;
	border: 1px solid #E6EAF2;
	padding: 1px 2px 1px 2px;
}

select {
	border: 1px solid #E6EAF2;
}

#centerContent div.input input.file,#centerContent div.input textarea,#centerContent div.input input
	{
	margin: 3px 3px 3px 3px;
	width: 135px;
	border: 1px solid #ACADB0;
	padding: 1px 2px 1px 2px;
	color: #000;
}

#centerContent div.input input.submit {
	border: 0px;
	clear: both;
	left: 0px;
}

#centerContent .input select {
	width: 180px;
	margin-top: 1px;
}

#centerContent .input input.error {
	border: 1px solid #e33e57;
}

#centerContent .input select.error {
	border: 1px solid #e33e57;
}

#centerContent .submit {
	position: relative;
	left: 266px;
	margin-left: 0;
	color: #fff;
}

#submit1 {
	position: relative;
	left: 150px;
	margin-left: 0px;
}

#centerContent .submit.left {
	position: relative;
	left: 237px;
	margin-left: 5px;
}

#centerContent div.input input.submit {
	width: 100px;
	clear: none;
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin: 0px 0 0 8px;
	padding: 0;
	color: #fff;
	background: #666;
}

#centerContent .submit {
	clear: none;
	left: 0;
	float: left;
	width: 100px;
	height: 23px;
	cursor: pointer;
}


#centerContent .submit.acc_chk {
	position: relative;
	left: 154px;
	width: 62px;
	height: 24px;
	background: red url(images/submit.png) no-repeat;
	display: block;
	margin: 30px 8px 0 0px;
	padding: 0px 0px 3px 0px;
	text-align: center;
}

#centerContent .submit.acc_chk1 {
	position: relative;
	left: 210px;
	background: url(images/submit1.png) no-repeat;
	display: block;
	width: 130px;
	height: 23px;
}


#centerContent .submit.btnstyle {
	background: url("images/bg_button_center.png") repeat-x scroll 0 0
		transparent;
	display: block;
	float: left;
	height: 26px;
	left: 229px;
	line-height: 26px;
	padding-bottom: 6px;
	position: relative;
	text-align: center;
}

#centerContent .submit.btnstyle:hover {
	opacity: 0.8;
}

#centerContent .acc_info_but {
	margin: 0 0 50px 80px;
}

.Chg_pwd_red {
	color: red;
	font-weight: bold;
	margin: 10px;
}

#centerContent .submit.acc_chk:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity =         80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#centerContent .submit.acc_chk1:hover {
	position: relative;
	left: 210px;
	background: url(images/submit1_mo.png) no-repeat;
	display: block;
	width: 130px;
	height: 23px;
}

#centerContent div.input div.group {
	float: left;
	margin: 3px 3px 8px 3px;
	width: 179px;
}

#centerContent div.input div.group input.checkbox,#centerContent div.input div.group input.radio
	{
	border: 0px;
	float: left;
	width: 15px;
	position: relative;
	top: 3px;
	height: 13px;
}

#centerContent div.input div.group label {
	clear: none;
	float: none;
	font-weight: normal;
	border-bottom: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 4px;
	width: 153px;
}

/******************************* END Content FORM Elements ************************/

/******************************* Left Bar FORM Elements ************************/
#leftContent form {
	
}

#leftContent label {
	display: block;
	font-weight: bold;
	width: 190px;
}

#leftContent .input input {
	border: 1px solid #8ca7c0;
	margin-bottom: 5px;
	width: 190px;
	padding: 1px 2px 1px 2px;
}

#leftContent form .input div.group {
	float: left;
	margin: 3px 3px 8px 3px;
	width: 179px;
}

#leftContent form .input div.group input {
	border: 0px;
	float: left;
	width: 15px;
	position: relative;
	top: 3px;
	height: 13px;
}

#leftContent form .input div.group label {
	clear: none;
	float: none;
	font-weight: normal;
	border-bottom: 0px;
	margin: 0px;
	padding: 0px;
	float: left;
	margin-top: 4px;
	width: 153px;
}

/**** END OF LEFT BAR ***/
select {
	border: 1px solid #8ca7c0;
	margin-bottom: 5px;
	width: 170px;
}

div.center {
	text-align: center;
}

div.scrollBox {
	border: 1px solid #e9e9e9;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 2px;
}

/* Stripes Messages */
.sucess_message {
	color: green;
	font-weight: bold;
	list-style: none;
	padding: 5px;
	text-align: center;
	float: left;
}

.sucess_message_red {
	color: red;
	font-weight: bold;
	list-style: none;
	padding: 5px 10px;
}

.messages li {
	color: green;
	font-weight: bold;
	list-style: none;
}

ul.messages {
	clear: both;
	text-align: left;
	padding-left: 20px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: transparent url(images/checkmark-green.gif) no-repeat left
		center;
}

/******* *********/
.ajaxLoad {
	margin-top: 50px;
	text-align: center;
	min-height: 50px;
	font-weight: bold;
}

/****************************************************************
*               UMGR 
*****************************************************************/
#userPrivilegeBox,#userRoleBox {
	width: 100%;
	height: 230px;
}

#privilegeBox,#roleBox,#scopeBox {
	width: 370px;
	height: 200px;
}

umgrScope {
	width: 300px;
	margin-left: 30px;
	display: block;
}

.grantOption {
	width: 300px;
	margin-left: 30px;
	display: block;
}

.scrollBoxMsg {
	width: 90%;
	text-align: center;
	padding: 15px 5px 5px 5px;
	display: block;
}

H2.scrollBox {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
}

.scrollBox a.selected div {
	background-color: #CCCCCC;
}

.scrollBox a.selected:hover div,.scrollBox a.selected:hover div.odd {
	background-color: #CCCCCC;
}

.scrollBox div {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.scrollBox .odd {
	background-color: #F8F8F8;
}

.scrollBox a div img {
	float: left;
	margin-right: 5px;
	border: 0px;
}

.scrollBox a div h1 {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
}

.scrollBox a div h2 {
	font-size: 12px;
	float: right;
	margin: 0px 0px 0px 0px;
}

.scrollBox a div p {
	margin: 0px 0px 0px 0px;
}

.scrollBox table tr {
	width: 100%;
}

.scrollBox table tr {
	background-color: #FEFEFE;
}

.scrollBox table tr.odd {
	background-color: #F8F8F8;
}

.scrollBox table td {
	padding: 3px;
	border-top: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
}

.scrollBox table h1 {
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	color: #E0620D;
}

.scrollBox table h2 {
	font-size: 12px;
	color: #E0620D;
	margin: 0px 0px 0px 0px;
	display: block;
}

.scrollBox table p {
	margin: 0px 0px 0px 0px;
}

.scrollBox a div {
	padding: 6px 6px 6px 6px;
	margin: 2px 2px 2px 2px;
	border: 1px solid #e9e9e9;
	border-right: 1px solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	background-color: white;
}

.scrollBox table tr.odd {
	background-color: #F8F8F8;
}

.scrollBox a:hover div.odd,.scrollBox div:hover div.odd {
	background-color: #E5E5E5;
}

.scrollBox a:hover div {
	background-color: #EFEFEF;
}

.scrollBox a:hover,.scrollBox div:hover {
	text-decoration: none;
}

/******************************************************
 ************** Display TAG ***************************
 ******************************************************/
.displayTag {
	width: 730px;
	margin: 0 10px;
}

.displayTag table {
	width: 100%;
	border: 1px solid #8c8e8e;
	margin: 20px 0 20px 0 !important;
}

.displayTag th {
	color: white;
	background-color: #FE2303;
}

.displayTag td,.displayTag th {
	padding: 2px 4px 2px 4px !important;
	text-align: left;
	vertical-align: top;
}

.displayTag thead tr {
	background-color: #FE2303;
}

.displayTag th.sorted {
	
}

.displayTag th a,.displayTag th a:visited {
	color: white;
	text-decoration: none;
}

.displayTag th a:hover {
	text-decoration: underline;
	color: white;
}

.displayTag th.sorted a,.displayTag th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

.displayTag th.wicket_orderNone a {
	background-position: right;
	display: block;
	width: 100%;
	background-image: url(images/sort-white.gif);
	background-repeat: no-repeat;
}

.displayTag th.wicket_orderUp a {
	background-position: right;
	display: block;
	width: 100%;
	background-image: url(images/sort-white-asc.gif);
	background-repeat: no-repeat;
}

.displayTag th.wicket_orderDown a {
	background-position: right;
	display: block;
	width: 100%;
	background-image: url(images/sort-white-desc.gif);
	background-repeat: no-repeat;
}

.displayTag tr.odd {
	background-color: #FFFFFF;
}

.displayTag tr.tableRowEven,.displayTag  tr.even {
	background-color: #EFEFEF;
}

.displayTag div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

.displayTag span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	cursor: pointer;
}
/* Icons for generated Files (currently NOT in use)
.displayTag span.excel {
	background-image: url(../img/ico_file_excel.png);
}

.displayTag span.csv {
	background-image: url(../img/ico_file_csv.png);
}

.displayTag span.xml {
	background-image: url(../img/ico_file_xml.png);
}

.displayTag span.pdf {
	background-image: url(../img/ico_file_pdf.png);
}

.displayTag span.rtf {
	background-image: url(../img/ico_file_rtf.png);
}
*/
.displayTag span.pagebanner {
	background-color: #D9DBDE;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 718px;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	color: #8F8687;
}

.displayTag span.pagelinks {
	background-color: #D9DBDE;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 718px;
	display: block;
	border-top: none;
	margin-bottom: -5px;
	color: #8F8687;
}

/************** END Display TAG ***********************/
/************** END Display TAG ***********************/

/************** Begin Newly added tag for select box  ***********************/
#centerContent .selinput select.error {
	border: 1px solid #e33e57;
}

#centerContent div.selinput {
	padding: 0px;
	margin: 0px;
	clear: both;
	display: block;
	text-align: left;
	margin-bottom: 4px;
	width: 600px;
}

#centerContent div.selinput select {
	margin: 3px 3px 3px 3px;
	width: 350px;
	border: 1px solid #8ca7c0;
	padding: 1px 2px 1px 2px;
}

div.selinput .errorText {
	clear: both;
	color: #b60000;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 5px;
	margin-left: 10px;
	margin-bottom: 4px;
	background: transparent url(images/cross-red.gif) no-repeat left center;
}

div.selinput.error {
	background: transparent url(images/background-error.gif) repeat;
	border: 1px solid #f9e8e4;
	padding-bottom: 2px;
}

/************** End Newly added tag for select box ***********************/
div.errors {
	display: block;
}

div.errors p {
	font-weight: bold;
	color: #FF0000;
	margin: 0;
}

div#footer_login {
	background-image: url("images/bg_bottom_shadow.png");
	background-position: left center;
	background-repeat: repeat-x;
	color: #000000;
	height: 196px;
	width: 100%;
}

/* 
    Document   : additional-class
    Created on : Apr 20, 2012, 5:17:05 PM
    Author     : SPK
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*BO Note Box Login */
.note_box {
	float: left;
	width: 230px;
	height: 140px;
	margin-top: 82px;
	margin-left: 23px;
}

.note_box p {
	margin-bottom: -10px;
	padding-bottom: 12px;
	font-size: 11px;
	color: #fff;
}

.note_box ul {
	list-style: decimal;
	padding-bottom: 10px;
	margin-left: 18px;
}

.note_box ul li {
	padding-bottom: 10px;
	font-size: 11px;
	color: #fff;
}
/*EO Note Box Login */

/*============================================================================/*

/* BO Footer */
.informasi {
	position: relative;
	background: url(images/icon_informasi.png) no-repeat left;
	width: 300px;
	height: 64px;
	top: 50px;
	margin-left: 119px;
	text-align: left;
}

.informasi span {
	position: relative;
	top: 6px;
	margin-left: 60px;
	font-size: 11px;
}

.informasi h1 {
	margin-top: 10px;
	margin-left: 60px;
	font-size: 24px;
	font-weight: normal;
}

.right_footer {
	position: relative;
	top: -74px;
	float: right;
	right: 52px;
	height: 100px;
}

.right_footer a {
	text-decoration: none;
	color: #000;
}

.nav_icon_box {
	float: right;
	margin-right: -20px;
	/*    font-size: 9px;*/
	/*    width: 300px;*/
}

.nav_icon_box a {
	position: relative;
	top: 63px;
	font-size: 9px;
}

.nav_icon_box_in {
	float: right;
	width: 90px;
	height: 49px;
	cursor: pointer;
	text-align: center;
	margin-left: -10px;
}

.nav_icon_box_in:hover {
	/*  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);*/
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	border: none;
}

.term {
	background: url(images/icon_term.png) no-repeat center center;
}

.faq {
	background: url(images/icon_faq.png) no-repeat center center;
	/*            background: yellowgreen;*/
}

.care {
	background: url(images/icon_customer_care.png) no-repeat center center;
}

.about {
	background: url(images/icon_about.png) no-repeat center center;
}

.nav_guide {
	position: absolute;
	top: 105px;
	color: #000;
}

.nav_guide ul {
	list-style: none;
}

.nav_guide li {
	padding-bottom: 3px;
	padding-left: 13px;
	line-height: 12px;
	text-indent: -4px;
}

.nav_guide li:before {
	content: "-";
	position: relative;
	left: -18px;
}

.nav_guide a {
	text-decoration: none;
	color: #000;
	font-size: 11px;
}
/* EO Footer */
.clear_both {
	clear: both;
}

ul.feedbackPanel {
	margin-bottom: 10px;
}

li.feedbackPanelERROR {
	list-style: none;
	clear: both;
	text-align: left;
	padding-left: 20px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	background: transparent url(../../../images/cross-red.gif) no-repeat
		left center;
	color: red;
	font-weight: bold;
	list-style: none;
}

html[dir="rtl"] li.feedbackPanelERROR {
	padding-left: 0;
	padding-right: 20px;
	background: transparent url(../../../images/cross-red.gif) no-repeat
		right center;
	text-align: right;
}

span.feedbackPanelERROR {
	
}

li.feedbackPanelINFO {
	list-style: none;
	clear: both;
	text-align: left;
	padding-left: 20px;
	margin-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	background: transparent url(../../../images/checkmark-green.gif)
		no-repeat left center;
	color: green;
	font-weight: bold;
	list-style: none;
}

html[dir="rtl"] li.feedbackPanelINFO {
	padding-left: 0;
	padding-right: 20px;
	background: transparent url(../../../images/checkmark-green.gif)
		no-repeat right center;
	text-align: right;
}

span.feedbackPanelINFO {
	
}

input.error {
	border: 1px solid #E33E57;
}

/* Date Picker */
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;	/* hide div initially */
}
.ui-datepicker .ui-datepicker-header {
	position:relative;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position:absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left:2px;
	background: transparent url(../../../images/expand.png) 4px 0 no-repeat;
}
.ui-datepicker .ui-datepicker-next {
	right:2px;
	background: transparent url(../../../images/expand.png) 8px -50px no-repeat;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left:1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right:1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size:1em;
	margin:1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin:0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding:0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width:auto;
	overflow:visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float:left;
}
/**********************************************************************************************
	styles from jquery-ui theming layer
	these are copied from the jquery ui theme files and changed as needed
**********************************************************************************************/

.ui-tabs .ui-tabs-hide {
	 display: none;
}

.ui-datepicker-trigger {
	margin-left: 2px;
	margin-top: 2px;
}

html[dir="rtl"] .ui-datepicker-trigger {
	float: right;
}

/* jquery ui theme styles  *******************************************************************/
.ui-corner-all {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
/* jquery ui widget styles */
.ui-widget {
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
	font-size: 1em;
}
.ui-widget-content {
	border: 1px solid #A9B9CF;
	background: #fff;
	color: #43464b;
}
.ui-widget-content a {
	color: #222222;
}
.ui-widget-header {
	border: none;
	border-bottom: 1px solid #A9B9CF;
	background-color: #C7D2E0;
	background-image: none;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
/* Interaction states **************************************************************************/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #f5f5f5;
	font-weight: normal;
	color: #555555;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url(../../../images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a, .ui-state-hover a:hover {
	color: #212121;
	text-decoration: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 1px solid #aaaaaa;
	background: #ffffff url(../../../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color: #212121;
	text-decoration: none;
}
.ui-widget :active {
	outline: none;
}
/* Interaction Cues	**************************************************************************/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #bbc7d9;
	background: #c7d2e0;
	color: #363636;
}
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
	color: #363636;
}
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
	border: 1px solid #cd0a0a;
	background: #fef1ec url(../../../images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
	color: #cd0a0a;
}
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter:Alpha(Opacity=70);
	font-weight: normal;
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter:Alpha(Opacity=35);
	background-image: none;
}
/* states and images *************************************************************************/
.ui-icon {
	width: 16px;
	height: 16px;
	background-image: url(../../../images/ui-icons_222222_256x240.png);
}
.ui-widget-content .ui-icon {
	background-image: url(../../../images/ui-icons_222222_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(../../../images/ui-icons_222222_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(../../../images/ui-icons_888888_256x240.png);
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image: url(../../../images/ui-icons_454545_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(../../../images/ui-icons_454545_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(../../../images/ui-icons_2e83ff_256x240.png);
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image: url(../../../images/ui-icons_cd0a0a_256x240.png);
}
/* with multiple calendars ********************************************************************/
.ui-datepicker.ui-datepicker-multi {
	width:auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float:left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width:95%;
	margin:0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width:50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width:33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width:25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width:0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width:0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear:left;
}
.ui-datepicker-row-break {
	clear:both;
	width:100%;
}
/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear:right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
	float:right;
}
.ui-datepicker-rtl .ui-datepicker-group {
	float:right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width:0;
	border-left-width:1px;
