<html xmlns="http://www.w3.org/1999/xhtml" 
		xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" lang="en" xml:lang="en">
<body> 
<wicket:panel>

	<span class="navigator">
		<ul class="pageSelectors">
			<li style="display:none"><a href="#" wicket:id="first">F</a></li>
			<li class="previous"><a href="#" wicket:id="prev">&nbsp;</a></li>
			<li wicket:id="navigation"><a href="#" wicket:id="pageLink"><span wicket:id="pageNumber">1</span></a></li>
			<li class="next"><a href="#" wicket:id="next">&nbsp;</a></li>
			<li style="display:none"><a wicket:id="last">L</a></li>
		</ul>
	</span>

</wicket:panel> 
</body> 
</html> 