<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	lang="en" xml:lang="en">
<body>
	<wicket:panel>
		<a href="#" wicket:id="first">[First</a>
		<a href="#" wicket:id="prev">/Prev]</a>
		<span wicket:id="navigation"><a href="#" wicket:id="pageLink"><span
				wicket:id="pageNumber">1</span></a><span wicket:id="comma"></span></span>
		<a href="#" wicket:id="next">[Next</a>
		<a wicket:id="last">/Last]</a>

	</wicket:panel>
</body>
</html>
