<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Mobiliser R5 Web UI Application</display-name>
	<listener>
		<display-name>Log4jConfiguration</display-name>
		<listener-class>com.sybase365.mobiliser.util.tools.wicketutils.logging.Log4jServletContextListener</listener-class>
	</listener>
	<context-param>
		<param-name>log4j.config</param-name>
		<param-value>web-ui_log4j.xml</param-value>
	</context-param>
	<context-param>
		<param-name>configuration</param-name>
		<param-value>deployment</param-value>
	</context-param>
	<!-- There are three means to configure Wickets configuration mode and they 
		are tested in the order given. 1) A system property: -Dwicket.configuration 
		2) servlet specific <init-param> 3) context specific <context-param> The 
		value might be either "development" (reloading when templates change) or 
		"deployment". If no configuration is found, "development" is the default. -->
	<listener>
		<description>HttpSessionAttributeListener</description>
		<listener-class>com.sybase365.mobiliser.web.common.reports.ReportProxyListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sybase365.mobiliser.util.tools.wicketutils.ShutdownCommonsHttpContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>wicket</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>mobiliserApplication</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>wicket-bankportal</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>bankPortalMobiliserApplication</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>wicket-agentportal</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>agentPortalMobiliserApplication</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>wicket-consumerportal</servlet-name>
		<servlet-class>org.apache.wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>org.apache.wicket.spring.SpringWebApplicationFactory</param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>consumerPortalMobiliserApplication</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/*context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ReportProxyServlet</servlet-name>
		<servlet-class>com.sybase365.mobiliser.web.common.reports.ReportProxyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>wicket</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wicket-bankportal</servlet-name>
		<url-pattern>/bank-portal/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wicket-agentportal</servlet-name>
		<url-pattern>/agent-portal/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>wicket-consumerportal</servlet-name>
		<url-pattern>/consumer-portal/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>spring.securityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>filterChainProxy</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>spring.securityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet-mapping>
		<servlet-name>ReportProxyServlet</servlet-name>
		<url-pattern>/ReportViewer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportProxyServlet</servlet-name>
		<url-pattern>/CrystalReportViewerHandler</url-pattern>
	</servlet-mapping>
	
	<resource-env-ref>
	   <resource-env-ref-name>portalConfig</resource-env-ref-name>
	   <resource-env-ref-type>java.lang.String</resource-env-ref-type>
	</resource-env-ref>
</web-app>
